{% include 'layout.html' %}

<!--Se reciben los mensajes de flash
que se envio en app.py-->
<!--Aqui se reciben todos los mensajes de flash-->
{% with messages= get_flashed_messages() %}

<!--Si existen mensajes-->
{% if messages %}
    <div class="alert alert-danger" role="alert">
    <!--Se muestran los mensajes que vienen
    con el for mensaje por mensaje
    se pueden enviar varios mensajes con 
    flash()-->
        {%  for message in messages %}
            {{message}}
        {% endfor %}
    </div>
{% endif %}

{% endwith %}

<form method="post" action="/store" enctype="multipart/form-data">
    
    <div class="card">
        <div class="card-header">
            Ingresar empleados
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del empleado</h5>
            <p class="card-text">
                <!--AQUI VA EL CONTENIDO-->


                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input id="txtNombre" class="form-control" type="text" name="txtNombre">
                </div>

                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input id="txtCorreo" class="form-control" type="email" name="txtCorreo">
                </div>

                <div class="form-group">
                    <label for="txtCedula">Cedula:</label>
                    <input id="txtCedula" class="form-control" type="text" name="txtCedula">
                </div>

                <div class="form-group">
                    <label for="txtCiudad">Ciudad:</label>
                    <input id="txtCiudad" class="form-control" type="text" name="txtCiudad">
                </div>

                <div class="form-group">
                    <label for="txtClave">Contraseña:</label>
                    <input id="txtClave" class="form-control" type="password" name="txtClave">
                </div>

                <div class="form-group">
                    <label for="txtTipoUsuario">Tipo de usuario:</label>
                    <select name="txtTipoUsuario">
                        <option value="2">Enfermer@</option>
                        <option value="3" selected>Farmacéutic@</option>
                        <option value="1">Administrador</option>
                      </select>
                </div>


                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-success">
                    <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                </div>
                
            </p>
        </div>
    </div>
    
   
</form>

{% include 'footer.html' %}